#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #232323;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 6px solid #dad9eb;
  border-radius: 20%;
  width: 120px;
  height: 120px;
  -webkit-animation: animate-preloader 3s linear infinite;
  animation: animate-preloader 3s linear infinite;
  background-size: 107px;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}